<h1>CREER VOTRE COMPTE </h1>

<%= form_for @users, url: {action: "create"}  do |f| %>
Ton nom : <%= f.text_field :name %> <br />
Ton email <%= f.text_field :email %><br />
Ton mot de passe   <%= f.text_field :password %><br />
  <%= f.submit "create" %>
<% end %>

<a href="/user/login">se connecter</a><br></br>
<a href="/user/home">Retourner à l'accueil</a>
